<div class="row">
  <div class="col-md-3">
    <form role="fome">
      <div class="form-group">
        <label for="search"><i class="fa fa-search"></i> search thread</label>
        <input type="text" ng-model="query" class="form-control" placeholder="">
      </div>
      <button ng-if="user.name" type="button" class="btn btn-default" data-toggle="modal" data-target="#create"><i class="fa fa-plus-circle"></i> thread作成</button>
    </form>
  </div>
  <div class="col-md-9">
    <div class="panel panel-primary" ng-repeat="u in users | filter:query">
      <div class="panel-heading">@{{u.name}}</div>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="thread in u.threads">
          <a href="#/{{u.name}}/{{thread}}">{{thread}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div ng-if="user.name" class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="createLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="createLabel"><i class="fa fa-plus-circle"></i> thread作成</h4>
      </div>
      <div class="modal-body">
        <form name="form" role="form" class="css-from" novalidate>
          <div class="form-group">
            <label for="create"><i class="fa fa-list"></i> thread名</label>
            <input type="text" ng-model="name" class="form-control" placeholder="" pattern="/[\s]+/" ng-pattern="/\w/" name="name" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="thread.create(name)" ng-disabled="form.$invalid">Create</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
